@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Infoboard konnte nicht geladen werden!</h1>
<p>
    Es gab ein internes Problem beim Laden dieser Seite.
    <br />Infoboards werden automatisch alle 5 Minuten aktualisiert, wobei temporäre Probleme behoben werden sollten.
    <br /><strong>Bitte gebe einer Lehrkraft bescheid, wenn das Problem nicht innerhalb von 5 Minuten behoben seien sollte.</strong>
</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to the <strong>Development</strong> environment will display detailed information about the error that occurred.
</p>
<p>
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>
