@page
@model SchoolBoard.SettingsModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Einstellungen";
}

<h1>Einstellungen</h1>

<p>
    The settings page is currently disabled while the new configuration provider is being implemented.
    Stay tuned or future updates / commits.
</p>

<button class="btn btn-primary" onclick="location.href='/';">Return to home</button>
